@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que la page prend toute la hauteur de l'écran */
}

header {
    height: 60px;
    margin-bottom: 10px;
}

main {
    flex: 1; /* Cela permet de faire en sorte que le main prenne toute la place disponible entre le header et le footer */
    display: flex;
    justify-content: flex-start; /* Aligne le contenu au début du main */
}

footer {
    position: relative;
    width: 100%;
    bottom: 0%;
    margin-top: auto;
}
#form-compte {
    margin-left: 200px; /* Décale le formulaire de 200px vers la droite */
}

/* Sidebar */
#sidebar {
    width: 200px;
    transition: width 0.3s ease-in-out;
    position: absolute; /* Reste collée à son emplacement */
    top: 60px; /* Positionner la sidebar en dessous du header */
    height: calc(100vh - 100px); /* Prend toute la hauteur entre le header et le footer */
}

/* Sidebar réduite */
#sidebar.collapsed {
    width: 60px;
}

/* Bouton de toggle */
#toggleSidebar {
    position: absolute;
    top: 8%;
    right: -20px; /* Positionné à la droite de la sidebar */
    transform: translateY(-50%);
    background-color: var(--bs-primary);
    color: var(--bs-dark);
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
}

/* Cacher le texte dans les span lorsque la sidebar est réduite */
#sidebar.collapsed .nav-item .textSideBar {
    display: none !important;
}

/* L'icône reste visible */
#sidebar.collapsed .nav-item i {
    display: inline-block;
}

