@import url("node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que la page prend toute la hauteur de l'écran */
}

header {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-bottom: 10px;
}

footer {
    position: relative;
    width: 100%;
    margin-top: auto;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* Sidebar */
#sidebar {
    position: fixed; /* Reste collée à son emplacement */
    width: 200px;
    transition: width 0.3s ease-in-out;
    left:0;
    top: 60px; /* Positionner la sidebar en dessous du header */
    height: 100%; /* Prend toute la hauteur entre le header et le footer */
}

/* Sidebar réduite */
#sidebar.collapsed {
    width: 60px;
}

/* Bouton de toggle */
#toggleSidebar {
    position: absolute;
    top: 8%;
    right: -20px; /* Positionné à la droite de la sidebar */
    transform: translateY(-50%);
    background-color: var(--bs-primary);
    color: var(--bs-dark);
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
}

/* Cacher le texte dans les span lorsque la sidebar est réduite */
#sidebar.collapsed .nav-item .textSideBar {
    display: none !important;
}

/* L'icône reste visible */
#sidebar.collapsed .nav-item i {
    display: inline-block;
}

/* Formulaire Compte*/
#pseudo{
    color: #57F2AA;
    font-weight: bold;
    font-size: 12px;
}

/*Formulaire Voiture */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: $tertiary;

    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid $dark;
    }

    th {
        background-color: $primary;
        color: white;
        font-weight: bold;
    }

    td {
        background-color: $tertiary;
        color: $dark;
    }

    tr:hover {
        background-color: $secondary;
    }

    button {
        padding: 5px 10px;
        background-color: $primary;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        
        &:hover {
            background-color: $dark;
        }
    }
}

//MODAL AVIS
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 30%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.close {
    color: red;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 5px;
}

button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}


